@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* dianaSlider Alert box style */
.dianaSlider_alert{
    width: 100%;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: fixed;
    z-index: 20000000;
    padding: .75rem 1.25rem;
    text-align: center;
}


#dianaSlider-f, #dianaSlider-s, #lastImage{
    width: 100%;
    height: 100%;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat !important; 
    z-index: 10; 
    position: absolute;
    top: 0;
    left: 0;
}

.ani_image_wrapper{
    width:100%;
    height: 100%;
    position: relative;
}

.slideshow_text{
    width:90%;
    height:200px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-55%, -240px);
    font-family: 'Courgette', cursive;
    z-index: 20;
}


.img_text, .img_author{
    text-shadow: 0px 5px 10px #000000;
    -webkit-text-shadow: 0px 5px 10px #000000;
    -moz-text-shadow: 0px 5px 10px #000000;
    -o-text-shadow: 0px 5px 10px #000000;
    color: #1ef7ff;
}

.img_text{
    font-size: 61px;
    line-height: 90px;
    text-align: center; 
    transform: translate(-150%, -100px); 
}

.img_author{
    font-size: 25px;
    text-align: left;
    margin: 10px 0px 0px 0px; 
    transform: translateX(130%);
}


#image_change_wrapper{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom:0;
    left:0px;
    z-index: 30;
}

#slide_changer{
    text-align: center;
}


.slide_changer_li{
    display: inline-block;
}

.slide_changer_button{
    display: inline-block;
    border: 1px solid #c7c7c7;
    width:20px;
    height: 20px;
    border-radius: 10px;
    margin:0px 5px 0px 5px;
    background-color: rgba(255, 255, 255, 0.4);
}

.active_btn{
    border: 2px solid #d95304;
}



@media (min-width: 768px){

   .slideshow_text{
        width: 80%;
        transform: translate(-55%, -200px);
    }

    .img_text{
        font-size: 80px;
        line-height: 100px;
    }  

    .img_author{
        margin-top: 50px;
    }

}

@media (min-width: 992px){

    .slideshow_text{
        transform: translate(-55%, -100px);
    }
}









